@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";
/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v29-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v29-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v29-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v29-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v29-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Fonts */
@import "base/fonts";
/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v29-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v29-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v29-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v29-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v29-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Mixins, helpers and functions */
@import "base/mixins";
/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v29-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v29-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v29-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v29-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v29-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}
